@import './reset'
.move-to-top-wrapper {
    position(fixed)
    all(0)
    top(20vh)
    padding-t-b(.1rem)
    padding-l-r(10px)
    background(#fff)
    border-top-right-radius(.2rem)
    border-top-left-radius(.2rem)
    overflow-y: auto
}