@import './reset'
.padding-l-r-10px {
	padding-l-r(10px);
}
.fs028rem {
	font-size(.28rem)
}
.fs024rem {
	font-size(.24rem)
}
.fs02rem {
	font-size(.2rem);
}
.fs014rem {
	font-size(.14rem)
}
.fs012rem {
	font-size(.12rem)
}
.fw550 {
	font-weight(550);
}
.color26a2ff {
	font-color(#26a2ff !important);
}