border-radius(n) {
	-webkit-border-radius: n;
	-moz-border-radius: n;
	border-radius: n;
}
thin-width(n, c) {
	width: n;
	height: 1px;
	background: c;
}
position(t) {
	position: t
}
top(n) {
	top: n
}
right(n) {
	right: n
}
bottom(n) {
	bottom: n
}
left(n) {
	left: n
}
zindex(n) {
	z-index: n
}
all(n) {
	top: n;
	right: n;
	bottom: n;
	left: n;
}
transform(n, m) {
	transform: translate(n, m)
}
padding(n) {
	padding: n
}
pad-t(n) {
	padding-top: n
}
pad-r(n) {
	padding-right: n
}
pad-b(n) {
	padding-bottom: n
}
pad-l(n) {
	padding-left: n
}
bg(n) {
	background: n
}
text-align(n) {
	text-align: n
}
align-items(type) {
	-webkit-align-items: type
	-moz-align-items: type
	align-items: type
}
justify-content(type) {
	-webkit-justify-content: type
	-moz-justify-content: type
	justify-content: type
}


