@charset "UTF-8";
.flex {
	display: flex;
}
.flex_1 {
	flex: 1;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.tal {
	text-align: left;
}
.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
.thin-width {
	width: 100%;
	height: 1px;
	background: #d9d9d9;
}
.thin-height {
	width: 1px;
	height: 100%;
	background: #d9d9d9;
}
.mine-mt-field .mint-cell-title {
	width: .65rem;
}
.mine-mt-field .mint-cell-value {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), color-stop(50%, #d9d9d9), color-stop(50%, transparent));
    background-image: linear-gradient(180deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: inherit;
}
.mine-mt-radio {
	padding: 0 10px;
	align-items: center;
}
.mine-mt-radio .mint-radiolist-title {
	margin: 0;
	width: .65rem;
	color: #000;
	font-size: .14rem;
}
.mine-mt-radio .mint-radiolist-label {
	padding: 0;
}
.mine-mt-field .mint-cell-wrapper,
.mine-mt-radio .mint-cell-wrapper,
.mine-mt-radio .mint-cell:last-child {
	background: transparent;
}
.mint-header-title {
	font-size: .16rem;
}
.mint-cell-wrapper-pos-b .mint-cell-wrapper {
	background-position: bottom left;
	background-origin: border-box;
}
.no-input .mint-field-core {
	display: none;
}
.thin-width {
	width: 100%;
	height: 1px;
	transform: scaleY(0.5);
	background: #D6D6D6;
}
.p-tb-01rem {
	padding: .1rem 0;
}
@-webkit-keyframes masked-animation {
	0% {
		background-position: 0 0
	}
	50% {
		background-position: -100% 0
	}
	100% {
		background-position: 0 0
	}
}
.data-none {
	width: 100%;
	background-image: -webkit-linear-gradient(left, #2c7ae9, #378af0 25%, #47a0f0 50%, #56befe 75%, #66cffe);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-background-size: 200% 100%;
	-webkit-animation: masked-animation 2s infinite linear;
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.2);
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.1);
	border-radius: 0;
}
::-webkit-scrollbar {
	width: 2px;
}
.inputs::-webkit-scrollbar {
	width: 0;
}
/* 隐藏百度地图的logo水印 */
.anchorBL{
	display: none;
}
/* 蓝色 */
.color409eff {
	color: #409eff;
}
.bg409eff {
	background: #409eff;
}
/* success */
.color67c23a {
	color: #67c23a;
}
.bg67c23a {
	background: #67c23a;
}
/* warning */
.colore6a23c {
	color: #e6a23c;
}
.bge6a23c {
	background: #e6a23c;
}
/* Danger */
.colorf56c6c {
	color: #f56c6c;
}
.bgf56c6c {
	background: #f56c6c;
}
/* Info, 次要文字 */
.color909399 {
	color: #909399;
}
.bg909399 {
	background: #909399;
}
/* 主要文字 */
.color303133 {
	color: #303133;
}
.bg303133 {
	background: #303133;
}
/* 常规文字 */
.color606266 {
	color: #606266;
}
.bg606266 {
	background: #606266;
}
/* 占位文字 */
.colorc0c4cc {
	color: #c0c4cc;
}
.bgc0c4cc {
	background: #c0c4cc;
}
.color000 {
	color: #000;
}
.bdcolor-dcdfe6 {
	border-color: #dcdfe6;
}
.bdcolor-e4e7ed {
	border-color: #e4e7ed;
}
.bdcolor-ebeef5 {
	border-color: #ebeef5;
}
.bdcolor-f2f6fc {
	border-color: #f2f6fc;
}
.font-size-16rem {
	font-size: .16rem;
}
.font-size-14rem {
	font-size: .14rem;
}
.font-size-12rem {
	font-size: .12rem;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}


/* 添加mint-ui新样式 */
.mine-message {
	position: relative;
}
.mine-message .mint-badge {
	position: absolute;
	top: 5px;
	left: 55%;
}





















