@charset "UTF-8";
.flex {
	display: flex;
}
.flex_1 {
	flex: 1;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.mine-mt-field .mint-cell-title {
	width: .65rem;
}
.mine-mt-field .mint-cell-value {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), color-stop(50%, #d9d9d9), color-stop(50%, transparent));
    background-image: linear-gradient(180deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: inherit;
}
.mine-mt-radio {
	padding: 0 10px;
	align-items: center;
}
.mine-mt-radio .mint-radiolist-title {
	margin: 0;
	width: .65rem;
	color: #000;
	font-size: .14rem;
}
.mine-mt-radio .mint-radiolist-label {
	padding: 0;
}
.mine-mt-field .mint-cell-wrapper,
.mine-mt-radio .mint-cell-wrapper,
.mine-mt-radio .mint-cell:last-child {
	background: transparent;
}
.mint-header-title {
	font-size: .16rem;
}
.thin-width {
	width: 100%;
	height: 1px;
	transform: scaleY(0.5);
	background: #D6D6D6;
}
.p-tb-01rem {
	padding: .1rem 0;
}
@-webkit-keyframes masked-animation {
	0% {
		background-position: 0 0
	}
	50% {
		background-position: -100% 0
	}
	100% {
		background-position: 0 0
	}
}
.data-none {
	width: 100%;
	background-image: -webkit-linear-gradient(left, #2c7ae9, #378af0 25%, #47a0f0 50%, #56befe 75%, #66cffe);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-background-size: 200% 100%;
	-webkit-animation: masked-animation 2s infinite linear;
}