border-radius(n) {
	-webkit-border-radius: n
	-moz-border-radius: n
	border-radius: n
}
thin-width(w, bg) {
	width: w
	height: 1px
	background: bg
}
thin-height(h, bg) {
	width: 1px
	height: h
	background: bg
}
text-align(type) {
	text-align: type
}
align-items(type) {
	-webkit-align-items: type
	-moz-align-items: type
	align-items: type
}
justify-content(type) {
	-webkit-justify-content: type
	-moz-justify-content: type
	justify-content: type
}