@charset "UTF-8";

.dn {
    display: none;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
body {
    width: 100vw;
    height: 100vh;
    background: #1d2024;
}
.title {
    margin-bottom: 20px;
    font-size: 24px;
}
.info {
    margin-bottom: 40px;
    font-size: 14px;
    color: #999;
}
.sub-title {
    margin-bottom: 10px;
    font-size: 20px;
}
.code-box {
    border: 1px solid #fffff0;
    border-radius: 4px;
}
.code-conp {
    padding: 10px;
    border-bottom: 1px solid #fffff0;
}
.cc-title {
    margin-bottom: 10px;
    font-size: 14px;
}

.code-cont {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}
.code-cont pre {
    padding: 10px;
    width: 100%;
}

.slide-up-down-enter-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-up-down-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-up-down-enter,
.slide-up-down-leave-to {
    transform: translateY(10px);
    opacity: 0;
}