@charset "UTF-8";
.flex {
	display: flex;
}
.flex_1 {
	flex: 1;
}
.tal {
	text-align: left;
}
.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
.bg255077 {
    background: #255077;
}
.box-shadow-ccc {
	box-shadow: 0 0 6px 0 #ccc
}
.login-btn span {
	color: #fff
}
.login-wrapper label {
	color: #fff !important;
}
.login-wrapper label:before {
	display: none;
}
.active{
	background: #0c2f4f;
	border-bottom: 1px dashed #eee;
}
.pos-r {
	position: relative;
}
.pos-a {
	position: absolute;
}
.pos-f {
	position: fixed;
}